{% if wo_breadcrumbs()|length %}
  {% spaceless %}
    <ul id="{{ listId }}" class="breadcrumb">
      <li class="active">Você está em: &nbsp;</li>
      {% for b in breadcrumbs %}

      <li>
        {% if b.url and not loop.last %}<a href="{{ b.url }}" class="pathway">{% endif %}
          {{- b.text | trans(b.translationParameters, translation_domain, locale) -}}
        {% if b.url and not loop.last %}</a>{% endif %}
        {% if separator is not null and not loop.last %}
        <span class="divider"><img src="/assets/arrow.png" alt=""></span>
        {% endif %}
      </li>


        
      
      {% endfor %}
    </ul>
  {% endspaceless %}
{% endif %}
