{% extends '::base.html.twig' %}

{% block classjmallpage %}scheme2 noright lcr topbar middlebar{% endblock %}
{% block body %}

<div id="jm-breadcrumbs" class="clearfix">
  <div id="jm-breadcrumbs-in">


    {{ wo_render_breadcrumbs() }}

  </div>
</div>

<div id="jm-content-wrapper">
    <div id="jm-content-wrapper-bg" class="clearfix ">
      <div id="jm-middle-page">

        <div id="jm-content">
          <div id="jm-maincontent">
            <div id="system-message-container">
              <h3 class="jm-title ">Como funciona o Contrate Artistas:</h3>
              <img src="/images/como-funciona.jpg" alt="Smiley face" height="1280" width="800">
              <p></p><p></p>
            </div>
          </div>
        </div>
      </div>
    </div>                    
</div>    



{% endblock %}


