{% extends '::base.html.twig' %}

{% block classjmallpage %}scheme2 noright lcr topbar middlebar{% endblock %}
{% block body %}

<div id="jm-breadcrumbs" class="clearfix">
  <div id="jm-breadcrumbs-in">


    {{ wo_render_breadcrumbs() }}

  </div>
</div>
<div id="jm-content-wrapper">
  <div id="jm-content-wrapper-bg" class="clearfix ">
    <div id="jm-middle-page">
      
      <div id="jm-content">
        <div id="jm-maincontent">
          <div id="system-message-container">
            <h3 class="jm-title ">Quem Somos</h3>
            <p>O Contrate Artistas é um sistema de buscas inteligente que reúne de forma simples e fácil os artistas e celebridades do cenário nacional e do showbusiness. Todos os orçamentos são direcionados diretamente para as agências e empresários exclusivos ou autorizados pelos artistas. O Contrate Artistas é uma excelente ferramenta para promover e divulgar os seus artistas para os milhares de empresários, prefeituras, cerimonialistas, produtores e organizadores que acessam diariamente o nosso site em busca de atrações para seus eventos. O Contrate Artistas faz parte do Grupo MKPartners que possui mais de 5 anos de sucesso no mercado de entretenimento no Brasil.</p>
          </div>
          
          
          
        </div>

      </div>
    </div>
  </div>          

</div>           


{% endblock %}


